In [1]:
import pandas as pd
import numpy as np

In [7]:
#Loading the datasets
yield_data = pd.read_csv("/Users/sahilagrawal/Documents/IT/Data Analytics/Project/Data/yield-curve-rates-1990-2021.csv")
gdp_data = pd.read_excel("/Users/sahilagrawal/Documents/IT/Data Analytics/Project/Data/imf-dm-export-20231023.xls")
commodity_data = pd.read_csv("/Users/sahilagrawal/Documents/IT/Data Analytics/Project/Data/realannualcommoditybasedexchangerates_1_.csv")

,Commodity,Weights,Year,Value
0,Bulk,U.S. competitors (country export weights),1970,83.473526
1,Consumer oriented,U.S. competitors (country export weights),1970,92.983032
2,Intermediates,U.S. competitors (country export weights),1970,92.361221
3,Beef and beef products,U.S. competitors (country export weights),1970,87.351936
4,Competitor agricultural exports to the world,U.S. competitors (country export weights),1970,80.954834
...,...,...,...,...
3991,Raw beet and cane sugar,U.S. suppliers (U.S. import weights),2023,107.042817
3992,Rubber and allied products,U.S. suppliers (U.S. import weights),2023,113.328292
3993,"Sugars, sweeteners, beverage bases",U.S. suppliers (U.S. import weights),2023,106.567200
3994,U.S. total agricultural imports,U.S. suppliers (U.S. import weights),2023,110.809367
3995,Wine and beer,U.S. suppliers (U.S. import weights),2023,106.322467

In [8]:
#Printing the data
print(yield_data)
print(gdp_data)
print(commodity_data)

          Date  1 Mo  2 Mo  3 Mo  4 Mo  6 Mo  1 Yr  2 Yr  3 Yr  5 Yr  7 Yr  \
0     12/31/21  0.06  0.05  0.06   NaN  0.19  0.39  0.73  0.97  1.26  1.44
1     12/30/21  0.06  0.06  0.05   NaN  0.19  0.38  0.73  0.98  1.27  1.44
2     12/29/21  0.01  0.02  0.05   NaN  0.19  0.38  0.75  0.99  1.29  1.47
3     12/28/21  0.03  0.04  0.06   NaN  0.20  0.39  0.74  0.99  1.27  1.41
4     12/27/21  0.04  0.05  0.06   NaN  0.21  0.33  0.76  0.98  1.26  1.41
...        ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
8003    1/8/90   NaN   NaN  7.79   NaN  7.88  7.81  7.90  7.95  7.92  8.05
8004    1/5/90   NaN   NaN  7.79   NaN  7.85  7.79  7.90  7.94  7.92  8.03
8005    1/4/90   NaN   NaN  7.84   NaN  7.90  7.82  7.92  7.93  7.91  8.02
8006    1/3/90   NaN   NaN  7.89   NaN  7.94  7.85  7.94  7.96  7.92  8.04
8007    1/2/90   NaN   NaN  7.83   NaN  7.89  7.81  7.87  7.90  7.87  7.98

      10 Yr  20 Yr  30 Yr
0      1.52   1.94   1.90
1      1.52   1.97   1.93
2      1.55   2.00   1.96
3      1.49   1.94   1.90
4      1.48   1.92   1.88
...     ...    ...    ...
8003   8.02    NaN   8.09
8004   7.99    NaN   8.06
8005   7.98    NaN   8.04
8006   7.99    NaN   8.04
8007   7.94    NaN   8.00

[8008 rows x 14 columns]
  Real GDP growth (Annual percent change)  1980  1981  1982  1983  1984  1985  \
0                                     NaN   NaN   NaN   NaN   NaN   NaN   NaN
1                           United States  -0.3   2.5  -1.8   4.6   7.2   4.2
2                                     NaN   NaN   NaN   NaN   NaN   NaN   NaN
3                              ©IMF, 2023   NaN   NaN   NaN   NaN   NaN   NaN

   1986  1987  1988  ...  2019  2020  2021  2022  2023  2024  2025  2026  \
0   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   3.5   3.5   4.2  ...   2.3  -2.8   5.9   2.1   2.1   1.5   1.8   2.1
2   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   2027  2028
0   NaN   NaN
1   2.1   2.1
2   NaN   NaN
3   NaN   NaN

[4 rows x 50 columns]
                                         Commodity  \
0                                             Bulk
1                                Consumer oriented
2                                    Intermediates
3                           Beef and beef products
4     Competitor agricultural exports to the world
...                                            ...
3991                       Raw beet and cane sugar
3992                    Rubber and allied products
3993            Sugars, sweeteners, beverage bases
3994               U.S. total agricultural imports
3995                                 Wine and beer

                                        Weights  Year       Value
0     U.S. competitors (country export weights)  1970   83.473526
1     U.S. competitors (country export weights)  1970   92.983032
2     U.S. competitors (country export weights)  1970   92.361221
3     U.S. competitors (country export weights)  1970   87.351936
4     U.S. competitors (country export weights)  1970   80.954834
...                                         ...   ...         ...
3991       U.S. suppliers (U.S. import weights)  2023  107.042817
3992       U.S. suppliers (U.S. import weights)  2023  113.328292
3993       U.S. suppliers (U.S. import weights)  2023  106.567200
3994       U.S. suppliers (U.S. import weights)  2023  110.809367
3995       U.S. suppliers (U.S. import weights)  2023  106.322467

[3996 rows x 4 columns]

In [13]:
gdp_data

,Real GDP growth (Annual percent change),1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,United States,-0.3,2.5,-1.8,4.6,7.2,4.2,3.5,3.5,4.2,...,2.3,-2.8,5.9,2.1,2.1,1.5,1.8,2.1,2.1,2.1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"©IMF, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#Cleaning gdp_data

gdp_data_clean = gdp_data.dropna(how='all').T

#Setting first row as header
gdp_data_clean.columns = gdp_data_clean.iloc[0]
gdp_data_clean = gdp_data_clean.drop(gdp_data_clean.index[0])
gdp_data_clean = gdp_data_clean.drop(columns = ['©IMF, 2023'])
gdp_data_clean = gdp_data_clean.reset_index().melt(id_vars=['index'], value_vars=['United States']) # Reshape to long format
gdp_data_clean.columns = ['Year', 'Country', 'GDP growth'] # Rename columns

#Drop country column since every country is united states
gdp_data_clean = gdp_data_clean.drop(columns=['Country'])

# Convert 'Year' to integer type
gdp_data_clean['Year'] = gdp_data_clean['Year'].astype(int) 

gdp_data_clean

    Year GDP growth
0   1980       -0.3
1   1981        2.5
2   1982       -1.8
3   1983        4.6
4   1984        7.2
5   1985        4.2
6   1986        3.5
7   1987        3.5
8   1988        4.2
9   1989        3.7
10  1990        1.9
11  1991       -0.1
12  1992        3.5
13  1993        2.8
14  1994        4.0
15  1995        2.7
16  1996        3.8
17  1997        4.4
18  1998        4.5
19  1999        4.8
20  2000        4.1
21  2001        1.0
22  2002        1.7
23  2003        2.8
24  2004        3.9
25  2005        3.5
26  2006        2.8
27  2007        2.0
28  2008        0.1
29  2009       -2.6
30  2010        2.7
31  2011        1.5
32  2012        2.3
33  2013        1.8
34  2014        2.3
35  2015        2.7
36  2016        1.7
37  2017        2.2
38  2018        2.9
39  2019        2.3
40  2020       -2.8
41  2021        5.9
42  2022        2.1
43  2023        2.1
44  2024        1.5
45  2025        1.8
46  2026        2.1
47  2027        2.1
48  2028        2.1

In [23]:
#Extracting date from yield data
yield_data['Year'] = pd.to_datetime(yield_data['Date']).dt.year
yield_data

,Date,1 Mo,2 Mo,3 Mo,4 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr,Year
0,12/31/21,0.06,0.05,0.06,NaN,0.19,0.39,0.73,0.97,1.26,1.44,1.52,1.94,1.90,2021
1,12/30/21,0.06,0.06,0.05,NaN,0.19,0.38,0.73,0.98,1.27,1.44,1.52,1.97,1.93,2021
2,12/29/21,0.01,0.02,0.05,NaN,0.19,0.38,0.75,0.99,1.29,1.47,1.55,2.00,1.96,2021
3,12/28/21,0.03,0.04,0.06,NaN,0.20,0.39,0.74,0.99,1.27,1.41,1.49,1.94,1.90,2021
4,12/27/21,0.04,0.05,0.06,NaN,0.21,0.33,0.76,0.98,1.26,1.41,1.48,1.92,1.88,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8003,1/8/90,NaN,NaN,7.79,NaN,7.88,7.81,7.90,7.95,7.92,8.05,8.02,NaN,8.09,1990
8004,1/5/90,NaN,NaN,7.79,NaN,7.85,7.79,7.90,7.94,7.92,8.03,7.99,NaN,8.06,1990
8005,1/4/90,NaN,NaN,7.84,NaN,7.90,7.82,7.92,7.93,7.91,8.02,7.98,NaN,8.04,1990
8006,1/3/90,NaN,NaN,7.89,NaN,7.94,7.85,7.94,7.96,7.92,8.04,7.99,NaN,8.04,1990
8007,1/2/90,NaN,NaN,7.83,NaN,7.89,7.81,7.87,7.90,7.87,7.98,7.94,NaN,8.00,1990

In [37]:
#Consolidate yield_data
yield_data.fillna(method='ffill', inplace=True)
aggregated_yield = yield_data.groupby('Year').mean().reset_index()
aggregated_yield

/var/folders/53/7qt84sld6sd0jmn84d2_x55w0000gn/T/ipykernel_6485/3363608498.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  aggregated_yield = yield_data.groupby('Year').mean().reset_index()

,Year,1 Mo,2 Mo,3 Mo,4 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
0,1990,3.670000,2.220000,7.746480,NaN,7.853000,7.887240,8.161600,8.257640,8.373280,8.518840,8.552400,6.120000,8.610000
1,1991,3.670000,2.220000,5.539600,NaN,5.689240,5.860880,6.487840,6.816960,7.374600,7.679080,7.862360,6.120000,8.139160
2,1992,3.670000,2.220000,3.514343,NaN,3.663347,3.889084,4.769880,5.304821,6.186175,6.630637,7.008845,6.120000,7.665976
3,1993,3.670000,2.220000,3.066000,NaN,3.219120,3.434440,4.045800,4.439600,5.142040,5.538720,5.866280,6.161160,6.591520
4,1994,3.670000,2.220000,4.372490,NaN,4.826506,5.317470,5.942972,6.270442,6.688273,6.907711,7.085181,7.490080,7.372691
5,1995,3.670000,2.220000,5.660360,NaN,5.817560,5.942120,6.151440,6.254720,6.383320,6.496440,6.573920,6.954640,6.880160
6,1996,3.670000,2.220000,5.145595,NaN,5.290635,5.515913,5.844960,5.994802,6.182103,6.343770,6.443532,6.826111,6.706310
7,1997,3.670000,2.220000,5.201440,NaN,5.390160,5.631520,5.990880,6.102960,6.224680,6.326920,6.353960,6.686840,6.606760
8,1998,3.670000,2.220000,4.906960,NaN,5.020160,5.052520,5.130520,5.137920,5.152320,5.278640,5.262880,5.715960,5.576800
9,1999,3.670000,2.220000,4.777211,NaN,4.945817,5.083108,5.434303,5.492948,5.550040,5.786255,5.646135,6.197809,5.872231
10,2000,3.670000,2.220000,5.999920,NaN,6.173984,6.112948,6.260916,6.220598,6.157769,6.200518,6.030279,6.230916,5.940637
11,2001,3.171774,2.220000,3.478669,NaN,3.453065,3.490000,3.830887,4.089274,4.556694,4.881653,5.020685,5.632177,5.494839
12,2002,1.629800,2.220000,1.635320,NaN,1.716480,2.001880,2.637760,3.099920,3.815720,4.304600,4.613080,5.431600,4.627760
13,2003,1.019280,2.220000,1.028040,NaN,1.075160,1.241400,1.650600,2.104640,2.966160,3.523040,4.013880,4.957480,4.510000
14,2004,1.269800,2.220000,1.398720,NaN,1.613720,1.887680,2.381480,2.779480,3.425960,3.866080,4.271320,5.044360,4.510000
15,2005,2.999600,2.220000,3.216120,NaN,3.502080,3.620960,3.854560,3.927800,4.046360,4.151840,4.288880,4.644160,4.510000
16,2006,4.752320,2.220000,4.851560,NaN,4.995080,4.936240,4.818480,4.773000,4.748760,4.758200,4.795000,4.997280,4.871120
17,2007,4.408805,2.220000,4.480956,NaN,4.615578,4.531235,4.364821,4.346932,4.431594,4.509562,4.634661,4.909562,4.838287
18,2008,1.293147,2.220000,1.397092,NaN,1.660080,1.826813,2.011315,2.242789,2.803546,3.171594,3.664263,4.359761,4.277530
19,2009,0.096360,2.220000,0.150920,NaN,0.282720,0.473520,0.958480,1.430640,2.197800,2.815120,3.264120,4.113080,4.076680
20,2010,0.114643,2.220000,0.138413,NaN,0.196667,0.317222,0.702024,1.105238,1.927024,2.615159,3.211984,4.027143,4.249286
21,2011,0.039600,2.220000,0.052840,NaN,0.095720,0.180880,0.449360,0.746760,1.518240,2.156840,2.781640,3.617560,3.910800
22,2012,0.070760,2.220000,0.087600,NaN,0.133840,0.174840,0.276160,0.382280,0.761720,1.220440,1.803440,2.541800,2.921680
23,2013,0.046280,2.220000,0.057080,NaN,0.088320,0.131160,0.307080,0.542840,1.172080,1.737520,2.350160,3.118280,3.446160
24,2014,0.028200,2.220000,0.032720,NaN,0.064600,0.121120,0.462080,0.897960,1.641600,2.144040,2.539560,3.072640,3.338160
25,2015,0.036016,2.220000,0.052510,NaN,0.165498,0.322709,0.686773,1.024542,1.531036,1.891195,2.138287,2.547530,2.840996
26,2016,0.254520,2.220000,0.319360,NaN,0.463040,0.614320,0.834200,1.004000,1.334720,1.634320,1.837440,2.218600,2.594400
27,2017,0.851000,2.220000,0.948960,NaN,1.070440,1.202880,1.399200,1.577200,1.909640,2.158920,2.329480,2.651960,2.894040
28,2018,1.843012,2.243213,1.971687,NaN,2.144819,2.330843,2.527068,2.626627,2.748996,2.852209,2.911245,3.018233,3.111566
29,2019,2.117360,2.115080,2.105760,NaN,2.109320,2.052040,1.968800,1.937560,1.953000,2.045440,2.141400,2.401320,2.580400
30,2020,0.352709,0.360558,0.360279,NaN,0.370956,0.370120,0.388645,0.420996,0.533068,0.721833,0.889203,1.348207,1.556135
31,2021,0.040837,0.044183,0.044900,NaN,0.063904,0.103984,0.265458,0.462669,0.860159,1.197729,1.446853,1.982231,2.055578

# Merging Datasets Now!

In [38]:
merged_data_yield_and_gdp = pd.merge(aggregated_yield, gdp_data_clean, on='Year', how='left')
merged_data_yield_and_gdp

,Year,1 Mo,2 Mo,3 Mo,4 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr,GDP growth
0,1990,3.670000,2.220000,7.746480,NaN,7.853000,7.887240,8.161600,8.257640,8.373280,8.518840,8.552400,6.120000,8.610000,1.9
1,1991,3.670000,2.220000,5.539600,NaN,5.689240,5.860880,6.487840,6.816960,7.374600,7.679080,7.862360,6.120000,8.139160,-0.1
2,1992,3.670000,2.220000,3.514343,NaN,3.663347,3.889084,4.769880,5.304821,6.186175,6.630637,7.008845,6.120000,7.665976,3.5
3,1993,3.670000,2.220000,3.066000,NaN,3.219120,3.434440,4.045800,4.439600,5.142040,5.538720,5.866280,6.161160,6.591520,2.8
4,1994,3.670000,2.220000,4.372490,NaN,4.826506,5.317470,5.942972,6.270442,6.688273,6.907711,7.085181,7.490080,7.372691,4.0
5,1995,3.670000,2.220000,5.660360,NaN,5.817560,5.942120,6.151440,6.254720,6.383320,6.496440,6.573920,6.954640,6.880160,2.7
6,1996,3.670000,2.220000,5.145595,NaN,5.290635,5.515913,5.844960,5.994802,6.182103,6.343770,6.443532,6.826111,6.706310,3.8
7,1997,3.670000,2.220000,5.201440,NaN,5.390160,5.631520,5.990880,6.102960,6.224680,6.326920,6.353960,6.686840,6.606760,4.4
8,1998,3.670000,2.220000,4.906960,NaN,5.020160,5.052520,5.130520,5.137920,5.152320,5.278640,5.262880,5.715960,5.576800,4.5
9,1999,3.670000,2.220000,4.777211,NaN,4.945817,5.083108,5.434303,5.492948,5.550040,5.786255,5.646135,6.197809,5.872231,4.8
10,2000,3.670000,2.220000,5.999920,NaN,6.173984,6.112948,6.260916,6.220598,6.157769,6.200518,6.030279,6.230916,5.940637,4.1
11,2001,3.171774,2.220000,3.478669,NaN,3.453065,3.490000,3.830887,4.089274,4.556694,4.881653,5.020685,5.632177,5.494839,1.0
12,2002,1.629800,2.220000,1.635320,NaN,1.716480,2.001880,2.637760,3.099920,3.815720,4.304600,4.613080,5.431600,4.627760,1.7
13,2003,1.019280,2.220000,1.028040,NaN,1.075160,1.241400,1.650600,2.104640,2.966160,3.523040,4.013880,4.957480,4.510000,2.8
14,2004,1.269800,2.220000,1.398720,NaN,1.613720,1.887680,2.381480,2.779480,3.425960,3.866080,4.271320,5.044360,4.510000,3.9
15,2005,2.999600,2.220000,3.216120,NaN,3.502080,3.620960,3.854560,3.927800,4.046360,4.151840,4.288880,4.644160,4.510000,3.5
16,2006,4.752320,2.220000,4.851560,NaN,4.995080,4.936240,4.818480,4.773000,4.748760,4.758200,4.795000,4.997280,4.871120,2.8
17,2007,4.408805,2.220000,4.480956,NaN,4.615578,4.531235,4.364821,4.346932,4.431594,4.509562,4.634661,4.909562,4.838287,2.0
18,2008,1.293147,2.220000,1.397092,NaN,1.660080,1.826813,2.011315,2.242789,2.803546,3.171594,3.664263,4.359761,4.277530,0.1
19,2009,0.096360,2.220000,0.150920,NaN,0.282720,0.473520,0.958480,1.430640,2.197800,2.815120,3.264120,4.113080,4.076680,-2.6
20,2010,0.114643,2.220000,0.138413,NaN,0.196667,0.317222,0.702024,1.105238,1.927024,2.615159,3.211984,4.027143,4.249286,2.7
21,2011,0.039600,2.220000,0.052840,NaN,0.095720,0.180880,0.449360,0.746760,1.518240,2.156840,2.781640,3.617560,3.910800,1.5
22,2012,0.070760,2.220000,0.087600,NaN,0.133840,0.174840,0.276160,0.382280,0.761720,1.220440,1.803440,2.541800,2.921680,2.3
23,2013,0.046280,2.220000,0.057080,NaN,0.088320,0.131160,0.307080,0.542840,1.172080,1.737520,2.350160,3.118280,3.446160,1.8
24,2014,0.028200,2.220000,0.032720,NaN,0.064600,0.121120,0.462080,0.897960,1.641600,2.144040,2.539560,3.072640,3.338160,2.3
25,2015,0.036016,2.220000,0.052510,NaN,0.165498,0.322709,0.686773,1.024542,1.531036,1.891195,2.138287,2.547530,2.840996,2.7
26,2016,0.254520,2.220000,0.319360,NaN,0.463040,0.614320,0.834200,1.004000,1.334720,1.634320,1.837440,2.218600,2.594400,1.7
27,2017,0.851000,2.220000,0.948960,NaN,1.070440,1.202880,1.399200,1.577200,1.909640,2.158920,2.329480,2.651960,2.894040,2.2
28,2018,1.843012,2.243213,1.971687,NaN,2.144819,2.330843,2.527068,2.626627,2.748996,2.852209,2.911245,3.018233,3.111566,2.9
29,2019,2.117360,2.115080,2.105760,NaN,2.109320,2.052040,1.968800,1.937560,1.953000,2.045440,2.141400,2.401320,2.580400,2.3
30,2020,0.352709,0.360558,0.360279,NaN,0.370956,0.370120,0.388645,0.420996,0.533068,0.721833,0.889203,1.348207,1.556135,-2.8
31,2021,0.040837,0.044183,0.044900,NaN,0.063904,0.103984,0.265458,0.462669,0.860159,1.197729,1.446853,1.982231,2.055578,5.9

In [44]:
#Merging All
final_merged_data = pd.merge(merged_with_gdp, commodity_data, on='Year', how='left')
final_merged_data = final_merged_data[~final_merged_data['Year'].between(1970, 1989)]
final_merged_data = final_merged_data.reset_index(drop=True)
final_merged_data

,Year,1 Mo,2 Mo,3 Mo,4 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,...,10 Yr,20 Yr,30 Yr,GDP growth,Commodity_x,Weights_x,Value_x,Commodity_y,Weights_y,Value_y
0,1990,NaN,NaN,7.74648,NaN,7.853,7.88724,8.1616,8.25764,8.37328,...,8.5524,NaN,8.61,1.9,Bulk,U.S. competitors (country export weights),86.274719,Bulk,U.S. competitors (country export weights),86.274719
1,1990,NaN,NaN,7.74648,NaN,7.853,7.88724,8.1616,8.25764,8.37328,...,8.5524,NaN,8.61,1.9,Bulk,U.S. competitors (country export weights),86.274719,Consumer oriented,U.S. competitors (country export weights),86.054863
2,1990,NaN,NaN,7.74648,NaN,7.853,7.88724,8.1616,8.25764,8.37328,...,8.5524,NaN,8.61,1.9,Bulk,U.S. competitors (country export weights),86.274719,Intermediates,U.S. competitors (country export weights),84.863716
3,1990,NaN,NaN,7.74648,NaN,7.853,7.88724,8.1616,8.25764,8.37328,...,8.5524,NaN,8.61,1.9,Bulk,U.S. competitors (country export weights),86.274719,Beef and beef products,U.S. competitors (country export weights),84.718597
4,1990,NaN,NaN,7.74648,NaN,7.853,7.88724,8.1616,8.25764,8.37328,...,8.5524,NaN,8.61,1.9,Bulk,U.S. competitors (country export weights),86.274719,Competitor agricultural exports to the world,U.S. competitors (country export weights),89.298264
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186179,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Wine and beer,U.S. suppliers (U.S. import weights),106.322467,Raw beet and cane sugar,U.S. suppliers (U.S. import weights),107.042817
186180,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Wine and beer,U.S. suppliers (U.S. import weights),106.322467,Rubber and allied products,U.S. suppliers (U.S. import weights),113.328292
186181,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Wine and beer,U.S. suppliers (U.S. import weights),106.322467,"Sugars, sweeteners, beverage bases",U.S. suppliers (U.S. import weights),106.567200
186182,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Wine and beer,U.S. suppliers (U.S. import weights),106.322467,U.S. total agricultural imports,U.S. suppliers (U.S. import weights),110.809367
186183,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Wine and beer,U.S. suppliers (U.S. import weights),106.322467,Wine and beer,U.S. suppliers (U.S. import weights),106.322467

In [45]:
final_merged_data.to_csv('/Users/sahilagrawal/Documents/IT/Data Analytics/Project/Data/full-data.csv', index=False)